---
import { GetTrpcData } from "~/components";
import Main from "~/layouts/Main.astro";
import { trpcServerSide as tRPC } from "~/trpc/server";

const query = await tRPC(Astro).greet("Abby");
---

<Main title="Autism Club Hub">
  <h1>{query}</h1>

  <GetTrpcData client:load />
</Main>
