---
import Base from "~/components/Base.astro";
import TestTrpc from "~/components/TestTrpc";
import { trpcServerSide as tRPC } from "~/trpc/server";

const query = await tRPC(Astro).greet("Abby");
---

<Base title="Autism Club Hub">
  <h1>{query}</h1>

  <TestTrpc client:load name="Audrey" />
</Base>
