---
import Base from "~/layouts/Base.astro";
import GetTrpcData from "~/components/GetTrpcData";
import { trpcServerSide as tRPC } from "~/trpc/server";

const query = await tRPC(Astro).greet("Abby");
---

<Base title="Autism Club Hub">
  <h1>{query}</h1>

  <GetTrpcData client:load />
</Base>
