---
import { Dashboard } from "~/components/Dashboard";
import Main from "~/layouts/Main.astro";
---

<Main title="Admin Dashboard">
  <Dashboard
    cards={[
      { title: "Memes", subtitle: "Other Memes", content: "Super Memes" },
      { title: "Memes", subtitle: "Other Memes", content: "Super Memes" },
      { title: "Memes", subtitle: "Other Memes", content: "Super Memes" },
      { title: "Memes", subtitle: "Other Memes", content: "Super Memes" },
    ]}
  />
</Main>
